
body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the page take up the full viewport height */
}

.navbar {
  height: 15vh;
}

.remaining {
height: 80vh;
overflow-y: scroll;
resize: both;
overflow: auto;
}
.footer{
  margin-top: 10px;
}